@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-image: url('/lightmode.gif');
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #030303;
    --foreground: #ededed;
    --bg-image: url('/darkmode.jpg');
  }
}

body {
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}